
span {
  background-color: #FFFF00;
}

body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #333333;
}

h1 {
  font-size: 30px;
  color: #445161;
}

.hyeta {
  line-height: 25px;
}

h2 {
  color: #445161;
  font-size: 25px;
}

.fatty {
  font-weight: 700;

}

.red {
  color: #ff0000;
}

h3 {
  color: #445161;
  font-size: 20px;
}

.right {
  text-align: right;
}

.transform {
  text-transform: uppercase;
}

.italic {
  font-family: "Arial - Italic MT", cursive;
}

.line {
  text-decoration: underline;
}

.center {
  text-align: center;
}

.height {
  font-size: 24px;
}

.line-center {
  text-decoration: line-through;
}

.new-roman {
  font-family: "Times New Roman", Times, serif;
}

.shadow {
  text-shadow: 1px 1px 1px #000000;
}
